In [61]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [62]:
data=pd.read_csv("C:/Users/nania/OneDrive/Documents/Datasets/Real_Estate.csv")

In [63]:
data.head()

,Transaction date,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
0,2012-09-02 16:42:30.519336,13.3,4082.0150,8,25.007059,121.561694,6.488673
1,2012-09-04 22:52:29.919544,35.5,274.0144,2,25.012148,121.546990,24.970725
2,2012-09-05 01:10:52.349449,1.1,1978.6710,10,25.003850,121.528336,26.694267
3,2012-09-05 13:26:01.189083,22.2,1055.0670,5,24.962887,121.482178,38.091638
4,2012-09-06 08:29:47.910523,8.5,967.4000,6,25.011037,121.479946,21.654710

In [64]:
data.tail()

,Transaction date,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
409,2013-07-25 15:30:36.565239,18.3,170.12890,6,24.981186,121.486798,29.096310
410,2013-07-26 17:16:34.019780,11.9,323.69120,2,24.950070,121.483918,33.871347
411,2013-07-28 21:47:23.339050,0.0,451.64190,8,24.963901,121.543387,25.255105
412,2013-07-29 13:33:29.405317,35.9,292.99780,5,24.997863,121.558286,25.285620
413,2013-08-01 09:49:41.506402,12.0,90.45606,6,24.952904,121.526395,37.580554

In [65]:
data.info

<bound method DataFrame.info of                Transaction date  House age  \
0    2012-09-02 16:42:30.519336       13.3
1    2012-09-04 22:52:29.919544       35.5
2    2012-09-05 01:10:52.349449        1.1
3    2012-09-05 13:26:01.189083       22.2
4    2012-09-06 08:29:47.910523        8.5
..                          ...        ...
409  2013-07-25 15:30:36.565239       18.3
410  2013-07-26 17:16:34.019780       11.9
411  2013-07-28 21:47:23.339050        0.0
412  2013-07-29 13:33:29.405317       35.9
413  2013-08-01 09:49:41.506402       12.0

     Distance to the nearest MRT station  Number of convenience stores  \
0                             4082.01500                             8
1                              274.01440                             2
2                             1978.67100                            10
3                             1055.06700                             5
4                              967.40000                             6
..                                   ...                           ...
409                            170.12890                             6
410                            323.69120                             2
411                            451.64190                             8
412                            292.99780                             5
413                             90.45606                             6

      Latitude   Longitude  House price of unit area
0    25.007059  121.561694                  6.488673
1    25.012148  121.546990                 24.970725
2    25.003850  121.528336                 26.694267
3    24.962887  121.482178                 38.091638
4    25.011037  121.479946                 21.654710
..         ...         ...                       ...
409  24.981186  121.486798                 29.096310
410  24.950070  121.483918                 33.871347
411  24.963901  121.543387                 25.255105
412  24.997863  121.558286                 25.285620
413  24.952904  121.526395                 37.580554

[414 rows x 7 columns]>

In [66]:
import datetime

In [67]:
data['Transaction date']= pd.to_datetime(data['Transaction date'])

In [68]:
data['Transaction year'] = data['Transaction date'].dt.year
data['Transaction month'] = data['Transaction date'].dt.month

In [69]:
data = data.drop(columns=['Transaction date']) # after arrivinf year and month seperately we dont need the transaction date

In [70]:
data.head()

,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area,Transaction year,Transaction month
0,13.3,4082.0150,8,25.007059,121.561694,6.488673,2012,9
1,35.5,274.0144,2,25.012148,121.546990,24.970725,2012,9
2,1.1,1978.6710,10,25.003850,121.528336,26.694267,2012,9
3,22.2,1055.0670,5,24.962887,121.482178,38.091638,2012,9
4,8.5,967.4000,6,25.011037,121.479946,21.654710,2012,9

In [71]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\nania\appdata\local\programs\python\python312\lib\site-packages (1.5.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\nania\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\nania\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\nania\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\nania\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.5.0)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError('A certificate chain processed, but terminated in a root certificate which is not trusted by the trust provider.'))': /simple/scikit-learn/

In [72]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [73]:
x = data.drop('House price of unit area', axis =1)
y = data['House price of unit area']

In [74]:
x_train, x_test, y_train, y_test =train_test_split(x,y,test_size=0.2,random_state=42) # split the data training and testing sets

In [75]:
scaler = StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [76]:
x_train_scaled.shape

(331, 7)

In [77]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, r2_score

In [78]:
models ={
    'Linear Regression': LinearRegression(),
    'Decision Tree': DecisionTreeRegressor(random_state=42),
    'Random Forest': RandomForestRegressor(random_state=42),
    'Gradient Boosting': GradientBoostingRegressor(random_state=42)
}

In [83]:
results = {}
for name, model in models.items():
    model.fit(x_train_scaled,y_train)
    predictions = model.predict(x_test_scaled)
    mae = mean_absolute_error(y_test, predictions)
    r2 = r2_score(y_test,predictions)
    results[name] = {"MAE": mae,"R2":r2}

In [84]:
results_A = pd.DataFrame(results).T
print(results_A)

                         MAE        R2
Linear Regression   9.748246  0.529615
Decision Tree      11.760342  0.204962
Random Forest       9.887601  0.509547
Gradient Boosting  10.000117  0.476071